<%- include('assets/header') %> 
<%- include('assets/navbar') %> 
<div class="container">
    <div class="row text-center mx-auto w-50pxr text-white" style="height: 300px;  width: 60%;">
        <h1 style="font-size: 60px; margin-top: 50px; ">Entra en la plataforma</h1>
        <p clas="margin-bottom: 50px;">Introduce tus datos.</p>
    </div>
    
</div>
<%- include('assets/footer') %> 
